.footer {
  background-color: #000000;
  padding: 10px;
  position: sticky;
 
}
.contained {
  background-color: #000000;
 
}
.footer p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #000000;
  text-align: center;
  padding-bottom: 30px;

}
