* {
  font-family: Poppins;
}

p {
  font-size: 20px;
  padding-top: 20px;
}

.about-page {
  background-image: url('/backgroundpp.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 110vh; /* Ensure the container covers the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.name{
  position: absolute;
  left: 30vh;
  bottom: 50vh;
  letter-spacing: 10px;
  font-size: 80px;
  background: none;

}

.content {
  background: none;
}


.navwrapper{
  position: absolute;
  right: 30px;
  margin-bottom: 90vh;
}
.marquee {
  width: 300vh;
  white-space: nowrap;
  position: relative;
  margin-top: 40vh;
  background: none;
}

.marquee-content {
  display: inline-block;
  color: black;
  background: none;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.second-background {
  background-image: url('/secondpic.png');  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 110vh; /* Ensure the container covers the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.secondcontent {
  background: none;
}

.p1{
  background: none;
  font-size: 16px;
  width: 600px;
  position: absolute;
  top: 120vh;
  right: 30vh;
}
.p2{
  background: none;
  font-size: 16px;
  width: 600px;
  position: absolute;
  top: 180vh;
  left: 30vh;
}

.Portfolioname {
  width: 400px;
  height: 180px;
  padding-top: 30px;
}
.portwrapper{
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
 
}

.clickableimages{
  height: 300px;
  width: 300px;
}

.threepics{
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}

.descwrapper{
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  gap: 210px;
  padding-bottom: 140px;
}

